%meta{:charset => "UTF-8" }
%meta{:http-equiv => "content-type", :content => "text/html; charset=UTF-8"}
%meta{:name => "application-name", :content => "BeSafe!"}
%meta{:name => "author", :content => "SoC"}
%meta{:name => "description", :content => "BeSafe! is designed for all your security needs!"}
%meta{:name => "generator", :content => "Completly written by hand in HAML"}
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
%link{:rel => "stylesheet", :href => "../scss/style.css"}
%script{:src => "../node_modules/jquery/dist/jquery.min.js"}
/[if IE]
  %meta{:http-equiv => "refersh", :content => "0; url=ie.html"}
