%nav.navbar
%nav.navbar.is-fixed-top#navbar
  .container
    .navbar-menu
      .navbar-brand
        .navbar-burger
          .span
          .span
          .span
      .navbar-start
        %a.navbar-item{:href => "/BeSafe/haml/hash.html"} Hash
      .navbar-end
        %a.navbar-item{:href => "https://github.com/Ma124/BeSafe"}
          %img{:src => "/BeSafe/resources/github-logo.png"}
        %a.navbar-item{:href => "https://github.com/Ma124/BeSafe/archive/master.zip"} Download
