%nav.navbar
%nav.navbar.is-fixed-top#navbar
  .container
    .navbar-menu
      .navbar-brand
        .navbar-burger
          .span
          .span
          .span
      .navbar-start
        %a.navbar-item{:href => "#!"} Test
      .navbar-end
        %a.navbar-item{:href => "https://github.com/Ma124"}
          %img{:src => "../resources/github-logo.png"}
        %a.navbar-item{:href => "https://github.com/Ma124"} Download
