-#
  BeSafe! - For all your security needs
  Copyright (C) 2018  Ma124

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.

%nav.navbar
%nav.navbar.is-fixed-top#navbar
  .container
    .navbar-menu
      .navbar-brand
        .navbar-burger
          %span
          %span
          %span
      .navbar-start
        %a.navbar-item{:href => "hash.html"} Hash
      .navbar-end
        %a.navbar-item{:href => "https://github.com/Ma124/BeSafe"}
          %img{:src => "github-logo.png"}
        %a.navbar-item{:href => "https://github.com/Ma124/BeSafe/archive/master.zip"} Download
