!!! html
%html
  %head
    %title BeSafe! - Hashing
    = File.read "_head.html"
    //%script{:src => "/BeSafe/node_modules/node-forge/dist/forge.all.min.js"}
    %script{:src => "https://cdn.jsdelivr.net/npm/node-forge@0.7.0/dist/forge.min.js"}
    %script{:src => "/BeSafe/coffeescript/random.js"}
  %body
    = File.read "_navbar.html"
    %main
      %section.hero.is-primary.is-bold
        .hero-body
          .container
            %h1.title BeSafe!
            %h2.subtitle Hashing

